/* ==========================================================================
   Author's custom styles
   ========================================================================== 
*/

.hero-unit {
    padding-top: 30px;
    padding-bottom: 30px;
}

div.cv-item-title {
    float: left;
    width: 150px;
    padding-right: 20px;
    font-weight: 500;
}














